{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet">
        <script src="{% static 'encyclopedia/wiki.js' %}"></script>
    </head>
    <body>
        <div class="row container-fluid">
            <div class="sidebar col-lg-2 col-sm-2">
                <h2>Wiki</h2>
                <form action="{% url 'encyclopedia:search' %}" id="id_search_form">
                    <input class="search" type="text" name="search_query" id="id_search_query" placeholder="Search Encyclopedia">
                </form>
                <div>
                    <a href="{% url 'encyclopedia:index' %}">Home</a>
                </div>
                <div>
                    <a href="{% url 'encyclopedia:new' %}">Create New Page</a>
                </div>
                <div>
                    Random Page
                </div>
                {% block nav %}
                {% endblock %}
            </div>
            <div class="main col-lg-10 col-sm-9">
                {% block body %}
                {% endblock %}
            </div>
        </div>

    </body>
</html>